{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Briefly about the university</legend>
    <p>University of applied sciences (ViA) was founded in 1996 and in 2001 acquired the status of a state university. In 2002, it was accredited for an indefinite period. ViA offers high-quality and flexible study programs that successfully balance theory and practice. They are adapted to current societal needs and changes in the labor market. The quality of studies is ensured by experienced professional teaching staff, advanced forms of study, as well as the students themselves, that know what they want to achieve and know how to reach it!</p>
    <legend class="border-bottom mb-4">Website features</legend>
    <p>At the very beginning it is possible to log in to the website, if the entered data is incorrect, a message is displayed that the input data is incorrect. If you have forgotten your password, you can click on forget password and reset it. The website has a statistics section, which shows how many users are registered on the website, how many homeworks have been commissioned and completed, as well as who has commissioned them. In the Homework section, the teacher has the opportunity to add homework and indicate its details. The Users section is only available to an administrator who can manipulate user data.</p>
    <legend class="border-bottom mb-4">Contactinformation</legend>
    <p>Pēteris Ozols – 2123132421</p>
    <legend class="border-bottom mb-4">Address</legend>
    <p>Cesu Street 4, Terbatas Street 10, Valmiera, LV - 4201, Latvia</p>
    <img class="mb-2" src="https://www.valmieraszinas.lv/wp-content/uploads/2015/06/DSC3840-Edit1.jpg">
</div>
{% endblock content %}
