{% extends "base.html" %}
{% block content %}
<div class="content-section mb-0">
  <div class="media">
    <img class="rounded-circle account-img mb-0 mr-2 mt-2" src="{{ image_file }}">
    <div class="media-body d-none d-sm-block">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-dark mb-0">{{ user.email }}</p>
      <p class="text-dark mb-0">{{ user.subj }}</p>
      {% if user.op %}
        <p class="text-dark mb-0">Joind on: {{ user.year }}</p>
      {% else %}
        <p class="text-dark mb-0">On year {{ user.year }}</p>
      {% endif %}
    </div>
  </div>
  <div class="media-body d-block d-sm-none">
    <h2 class="account-heading">{{ user.username }}</h2>
    <p class="text-dark mb-0">{{ user.email }}</p>
    <p class="text-dark mb-0">{{ user.subj }}</p>
    {% if user.op %}
      <p class="text-dark mb-0">Joind on: {{ user.year }}</p>
    {% else %}
      <p class="text-dark mb-0">On year {{ user.year }}</p>
    {% endif %}
  </div>
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group mb-2">
        <legend class="border-bottom mb-4">Account Info</legend>
        
				<div class="row">
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.username.label(class="form-control-label mb-1") }}
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg p-1", type="username") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.email.label(class="form-control-label mb-1") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg p-1", type="email") }}
						{% endif %}
					</div>

					{% if current_user.op %}
						<div class="col-xl-4"></div>
						<div class="form-group col-sm-6 col-lg-5 col-xl-4">
							{{ form.subj.label(class="form-control-label mb-1") }}
							{% if form.subj.errors %}
								{{ form.subj(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.subj.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.subj(class="form-control form-control-lg p-1") }}
							{% endif %}
						</div>
						<div class="form-group col-sm-6 col-lg-5 col-xl-4 d-flex flex-row">
							<div class="w-100">
								{{ form.year.label(class="form-control-label mb-1") }}
								{% if form.year.errors %}
									{{ form.year(class="form-control form-control-lg is-invalid p-1") }}
									<div class="invalid-feedback">
										{% for error in form.year.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.year(class="form-control form-control-lg p-1") }}
								{% endif %}
							</div>
							<div class="{% if current_user.id == user.id %}d-none{% endif %}">
								{{ form.op.label(class="form-control-label mb-1 d-flex justify-content-center") }}
								{% if form.op.errors %}
									{{ form.op(class="form-control form-control-lg is-invalid p-1") }}
									<div class="invalid-feedback">
										{% for error in form.op.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									<div class="d-flex justify-content-center" style="padding-top: 1px;">
										{{ form.op(class="form-control form-control-lg", style="height:41px; width:41px; min-width:41px") }}
									</div>
								{% endif %}
							</div>
						</div>
          {% endif %}
          
					<div class="col-xl-4"></div>
          <div class="form-group col-sm-12 col-lg-10 col-xl-8">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
              {% endfor %}
            {% endif %}
          </div>

        </div>

      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% if user.op %}
  {% if user.id == current_user.id %}
    <h1 class="mb-2">You have posted {{ posts.total }} homework{% if posts.total > 1 %}s{% endif %}</h1>
  {% else %}
    <h1 class="mb-2">{{ user.username }} has posted {{ posts.total }} homework{% if posts.total > 1 %}s{% endif %}</h1>
  {% endif %}
{% else %}
  {% set done_num = comp_hw.filter_by(user_id=user.id).count() %}
  {% if user.id == current_user.id %}
    <h1 class="mb-2">You have completed {{ done_num }} of {{ posts.total }} homework{% if posts.total > 1 %}s{% endif %}</h1>
  {% else %}
    <h1 class="mb-2">{{ user.username }} has completed {{ done_num }} of {{ posts.total }} homework{% if posts.total > 1 %}s{% endif %}</h1>
  {% endif %}
{% endif %}
{% for post in posts.items %}
  {% if user.op %}
    {% set data_count = comp_hw.filter_by(homework_id=post.id).count() %}
    {% set data_total = user_hw.filter_by(subj=post.subj, year=post.year).count() %}
    <article class="media content-section">
  {% else %}
    {% set is_comp = comp_hw.filter_by(user_id=user.id, homework_id=post.id).count() %}
    <article class="media content-section" {% if is_comp == 1 %}style="background-color:#88FF88;"{% else %}style="background-color:#FF6677;"{% endif %}>
  {% endif %}
    <div class="w-100">
      <div class="media">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <div class="article-metadata w-100 align-self-center">
          <div class="col-auto row">
            <a class="mr-2 text-primary"{% if current_user.op %} href="{{ url_for('users.account', user_id=post.author.id) }}"{% endif %}>{{ post.author.username }}</a>
            <small class="text-dark" style="padding-top: 3px;">Joined on: {{ post.author.year }}</small>
          </div>
          {% if post.author == current_user %}
            <div class="mb-1">
              <a class="btn btn-primary btn-sm m-0" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-0" data-toggle="modal" data-target="#deleteModal{{ post.id }}">Delete</button>
            </div>
          {% endif %}
        </div>
      </div>
      <h2 class=""><a class="article-title"{% if current_user.op %} href="{{ url_for('posts.post', post_id=post.id) }}"{% endif %}>{{ post.title }}</a></h2>
      <p class="article-content mb-1">{{ post.content }}</p>
      <div class="container pl-0 pr-0">
        <small class="text-dark">Posted on: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
      </div>
      <div class="container pl-0 pr-0">
        <small class="text-dark">For subject: {{ post.subj }}</small>
      </div>
      <div class="container pl-0 pr-0">
        {% if user.op %}
          <small class="text-dark">Completed by: {{ data_count }} of {{ data_total }} student{% if data_total > 1 %}s{% endif %}</small>
        {% else %}
          <small class="text-dark">Completion status: {% if is_comp == 0 %}Not {% endif %}Completed</small>
        {% endif %}
      </div>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete post "{{ post.title }}"?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('users.account', user_id=user.id, page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('users.account', user_id=user.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% endif %}
{% endfor %}
{% endblock content %}
