<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

		{% if title %}
			<title>ViA Helper - {{ title }}</title>
		{% else %}
			<title>ViA Helper</title>
		{% endif %}
</head>
<body>
	<nav class="navbar-dark bg-success fixed-top">
	 	<div role="main" class="navbar-expand-md container pb-2 pt-2">
			<div class="row pl-3 pr-3">
				<ul class="navbar-nav d-flex mr-auto">
					<li class="nav-item">
						<a href="/homework" title="Sākums" class="site-logo">
						<img class="" height="44px" style="width: 200px" src="https://www.va.lv/themes/via/logo.svg" onerror="this.src='https://id.va.lv/via_header/via_logo.png'">
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<button class="nav-item navbar-toggler" type="button" data-toggle="collapse" data-target="#x" aria-expanded="true">
						<span class="navbar-toggler-icon"></span>
						</button>
					</li>
				</ul>
				<div class="navbar-collapse collapse" id="x">
					<div class="row container m-0 p-0">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link {% if title=='About' %} active {% endif %} mr-auto" href="{{ url_for('main.about') }}">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if title=='Statistics' %} active {% endif %} mr-auto" href="{{ url_for('main.stats') }}">Statistics</a>
							</li>
							{% if current_user.is_authenticated %}
								<li class="nav-item navbar-nav">
								<a class="nav-link {% if title=='Homework' %} active {% endif %} mr-auto" href="{{ url_for('main.homework') }}">Homework</a>
								</li>
								{% if current_user.op==True %}
								<li class="nav-item">
									<a class="nav-link {% if title=='Users' %} active {% endif %} mr-auto" href="{{ url_for('users.users') }}">Users</a>
								</li>
								{% endif %}
							{% endif %}
						</ul>
						<ul class="navbar-nav">
							{% if current_user.is_authenticated %}
								<li class="nav-item">
									<a class="nav-link {% if title=='Account' %} active {% endif %}" href="{{ url_for('users.account', user_id=current_user.id) }}">Account</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link {% if title=='Login' %} active {% endif %}" href="{{ url_for('users.login') }}">Login</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
	 	</div>
	</nav>
	<main class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</main>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
