{% extends "base.html" %}
{% block content %}
{% if current_user.op %}
	<div class="content-section">
		<form class="container" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group mb-1 row">
				<legend class="border-bottom mb-4">Edit Homework</legend>

				<div class="row">
					<div class="form-group col-sm-12 col-lg-10 col-xl-8">
						{{ form.title.label(class="form-control-label mb-1") }}
						{% if form.title.errors %}
							{{ form.title(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.title.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.title(class="form-control form-control-lg p-1") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-8 col-lg-6 col-xl-5">
						{{ form.subj.label(class="form-control-label mb-1") }}
						{% if form.subj.errors %}
							{{ form.subj(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.subj.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.subj(class="form-control form-control-lg p-1") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-4 col-lg-4 col-xl-3">
						{{ form.year.label(class="form-control-label mb-1") }}
						{% if form.year.errors %}
							{{ form.year(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.year.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.year(class="form-control form-control-lg p-1") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-12 col-lg-10 col-xl-8">
						{{ form.content.label(class="form-control-label mb-1") }}
						{% if form.content.errors %}
							{{ form.content(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.content.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.content(class="form-control form-control-lg p-1", rows="4") }}
						{% endif %}
					</div>
				</div>
				
			</fieldset>
			<div class="form-group row">
					{{ form.submit(class="btn btn-outline-info", value="Edit Post") }}
			</div>
		</form>
	</div>
{% endif %}
{% endblock content %}
