{% extends "base.html" %}
{% block content %}
	{% if current_user.op %}
		<div class="content-section">
			<form class="container" method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group mb-1 row">
					<legend class="border-bottom mb-4">Add Homework</legend>

					<div class="row">
						<div class="form-group col-sm-12 col-lg-10 col-xl-8">
							{{ form.title.label(class="form-control-label mb-1") }}
							{% if form.title.errors %}
								{{ form.title(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.title.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.title(class="form-control form-control-lg p-1") }}
							{% endif %}
						</div>
						<div class="form-group col-sm-8 col-lg-6 col-xl-5">
							{{ form.subj.label(class="form-control-label mb-1") }}
							{% if form.subj.errors %}
								{{ form.subj(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.subj.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.subj(class="form-control form-control-lg p-1") }}
							{% endif %}
						</div>
						<div class="form-group col-sm-4 col-lg-4 col-xl-3">
							{{ form.year.label(class="form-control-label mb-1") }}
							{% if form.year.errors %}
								{{ form.year(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.year.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.year(class="form-control form-control-lg p-1") }}
							{% endif %}
						</div>
						<div class="form-group col-sm-12 col-lg-10 col-xl-8">
							{{ form.content.label(class="form-control-label mb-1") }}
							{% if form.content.errors %}
								{{ form.content(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.content.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.content(class="form-control form-control-lg p-1", rows="4") }}
							{% endif %}
						</div>
					</div>
					
				</fieldset>
				<div class="form-group row">
						{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		</div>
	{% endif %}
	{% for post in posts.items %}
		{% if current_user.op %}
			{% set data_count = comp_hw.filter_by(homework_id=post.id).count() %}
			{% set data_total = user_hw.filter_by(subj=post.subj, year=post.year).count() %}
			<article class="media content-section">
		{% else %}
			{% set is_comp = comp_hw.filter_by(user_id=current_user.id, homework_id=post.id).count() %}
			<article class="media content-section" {% if is_comp == 1 %}style="background-color:#88FF88;"{% else %}style="background-color:#FF6677;"{% endif %}>
		{% endif %}
			<div class="w-100">
				<div class="media">
					<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
					<div class="article-metadata w-100 align-self-center">
						<div class="col-auto row">
							<a class="mr-2 text-primary"{% if current_user.op %} href="{{ url_for('users.account', user_id=post.author.id) }}"{% endif %}>{{ post.author.username }}</a>
							<small class="text-dark" style="padding-top: 3px;">Joined on: {{ post.author.year }}</small>
						</div>
						{% if post.author == current_user %}
							<button type="button" class="btn btn-success btn-sm m-0 mb-1" data-toggle="modal" data-target="#remainderModal{{ post.id }}">Send remainders</button>
							<a class="btn btn-primary btn-sm m-0 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
							<button type="button" class="btn btn-danger btn-sm m-0 mb-1" data-toggle="modal" data-target="#deleteModal{{ post.id }}">Delete</button>
						{% endif %}
					</div>
				</div>
				<h2 class=""><a class="article-title"{% if current_user.op %} href="{{ url_for('posts.post', post_id=post.id) }}"{% endif %}>{{ post.title }}</a></h2>
				<p class="article-content mb-1">{{ post.content }}</p>
				<div class="container pl-0 pr-0">
					<small class="text-dark">Posted on: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
				</div>
				<div class="container pl-0 pr-0">
					<small class="text-dark">On subject: {{ post.author.subj }}</small>
				</div>
				<div class="container pl-0 pr-0">
					{% if current_user.op %}
						<small class="text-dark">Completed by: {{ data_count }} of {{ data_total }} student{% if data_total > 1 %}s{% endif %}</small>
					{% else %}
						<small class="text-dark">Completion status: {% if is_comp == 0 %}Not {% endif %}Completed</small>
					{% endif %}
				</div>
			</div>
		</article>
		<!-- Modal -->
		<div class="modal fade" id="remainderModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to send remainders about homework "{{ post.title }}" to all users that have not yet completed it?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<form action="{{ url_for('posts.send_remainders', post_id=post.id) }}" method="POST">
							<input class="btn btn-success" type="submit" value="Send">
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete post "{{ post.title }}"?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
							<input class="btn btn-danger" type="submit" value="Delete">
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('main.homework', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('main.homework', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{% endblock content %}
