{% extends "base.html" %}
{% block content %}
	<article class="media content-section">
		<div class="w-100">
			<div class="media">
				<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
				<div class="article-metadata w-100 align-self-center">
					<div class="col-auto row">
						<a class="mr-2" href="{{ url_for('users.account', user_id=post.author.id) }}">{{ post.author.username }}</a>
						<small class="text-dark" style="padding-top: 3px;">Joined on: {{ post.author.year }}</small>
					</div>
					{% if post.author == current_user %}
							<button type="button" class="btn btn-success btn-sm m-0 mb-1" data-toggle="modal" data-target="#remainderModal{{ post.id }}">Send remainders</button>
							<a class="btn btn-primary btn-sm m-0 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
							<button type="button" class="btn btn-danger btn-sm m-0 mb-1" data-toggle="modal" data-target="#deleteModal{{ post.id }}">Delete</button>
					{% endif %}
				</div>
			</div>
			<h2 class=""><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
				<p class="article-content mb-1">{{ post.content }}</p>
				<div class="container pl-0 pr-0">
					<small class="text-dark">Posted on: {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
				</div>
				<div class="container pl-0 pr-0">
					<small class="text-dark">On subject: {{ post.author.subj }}</small>
				</div>
				<div class="container pl-0 pr-0">
					{% if current_user.op %}
						<small class="text-dark">Completed by: {{ data_count }} of {{ data_total }} student{% if data_total > 1 %}s{% endif %}</small>
					{% else %}
						<small class="text-dark">Completion status: {% if is_comp == 0 %}Not {% endif %}Completed</small>
					{% endif %}
				</div>
		</div>
	</article>
	{% for user in Users %}
		{% set is_comp = done_hw.filter_by(user_id=user.id).count() %}
		{% if post.author == current_user %}
			<article class="media content-section">
		{% else %}
			<article class="media content-section" {% if is_comp == 1 %}style="background-color:#88FF88;"{% else %}style="background-color:#FF6677;"{% endif %}>
		{% endif %}
				<div class="media">
					<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
					<div>
						<div class="col-auto row">
							<a class="mr-2" href="{{ url_for('users.account', user_id=user.id) }}">{{ user.username }}</a>
							{% if user.op %}
								<small class="text-dark" style="padding-top: 3px;">Joined on: {{ user.year }}</small>
							{% else %}
								<small class="text-dark" style="padding-top: 3px;">{{ user.year }}. year of "{{ user.subj }}"</small>
							{% endif %}
						</div>
						<div class="mb-1">
							<form>
								{% if post.author == current_user %}
									<a class="btn{% if is_comp == 1 %} btn-success{% else %} btn-danger{% endif %} btn-sm m-0" href="{{ url_for('posts.post_done', post_id=post.id, user_id=user.id) }}">{% if is_comp == 0 %}Not {% endif %}Completed</a>
								{% else %}
									<small class="text-dark">Completion status: {% if is_comp == 0 %}Not {% endif %}Completed</small>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
		</article>
	{% endfor %}
	<!-- Modal -->
	<div class="modal fade" id="remainderModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to send remainders about homework "{{ post.title }}" to all users that have not yet completed it?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<form action="{{ url_for('posts.send_remainders', post_id=post.id) }}" method="POST">
						<input class="btn btn-success" type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete post "{{ post.title }}"?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Delete">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
