{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<legend class="border-bottom mb-4">Statistics about ViA Helper</legend>
		{% if actiNum != 0 %}
			<p>This website contains {{ userNum }} user{% if actiNum != 1 %}s{% endif %}.</p>
		{% else %}
			<p>This website contains no users.</p>
		{% endif %}
		{% if actiNum > 1 %}
			<p>Of all users {{ actiNum }} were students that have used this website in the past 5 days.</p>
		{% elif actiNum > 0 %}
			<p>Of all users {{ actiNum }} was a student that has used this website in the past 5 days.</p>
		{% else %}
			<p>No student has used this website in the past 5 days.</p>
		{% endif %}
		{% if adminNum > 0 %}
			{% if adminNum > 1 %}
				<p>Of all users {{ adminNum }} are administrators.</p>
				{% if postNum == 1 %}
					<p>Which have assigned a total of 1 homework.</p>
				{% elif postNum > 1 %}
					<p>Which have assigned a total of {{ postNum }} homeworks.</p>
				{% else %}
					<p>Which have assigned no homework.</p>
				{% endif %}
			{% else %}
				<p>Of all users 1 is an administrator.</p>
				{% if postNum == 1 %}
					<p>Which has assigned a total of 1 homework.</p>
				{% elif postNum > 1 %}
					<p>Which has assigned a total of {{ postNum }} homeworks.</p>
				{% else %}
					<p>Which has assigned no homework.</p>
				{% endif %}
			{% endif %}
		{% else %}
			<p>Of all users none are administrators.</p>
		{% endif %}
		{% if yearhwNum > 1 %}
			<p>In this academic year, students have completed a total of {{ yearhwNum }} homeworks.</p>
		{% elif yearhwNum > 0 %}
			<p>In this academic year, students have completed a total of {{ yearhwNum }} homework.</p>
		{% else %}
			<p>In this academic year, students have completed no homework.</p>
		{% endif %}
		{% if donehwNum > 1 %}
			<p>Across all academic year, students have completed a total of {{ donehwNum }} homeworks.</p>
		{% elif donehwNum > 0 %}
			<p>Across all academic year, students have completed a total of {{ donehwNum }} homework.</p>
		{% else %}
			<p>Across all academic year, students have completed no homework.</p>
		{% endif %}
		{% if remeNum > 1 %}
			<p>Administrators have sent a total of {{ remeNum }} remainders.</p>
		{% elif remeNum > 0 %}
			<p>Administrators have sent a total of {{ remeNum }} remainder.</p>
		{% else %}
			<p>Administrators have not sent a single remainder.</p>
		{% endif %}
{% endblock content %}
