{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form class="container" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group mb-1 row">
				<legend class="border-bottom mb-4">Add User</legend>
				
				<div class="row">
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.username.label(class="form-control-label mb-1") }}
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg p-1", type="username") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.email.label(class="form-control-label mb-1") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg p-1", type="email") }}
						{% endif %}
					</div>
					<div class="col-xl-4"></div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.password.label(class="form-control-label mb-1") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg p-1", type="password") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.confirm_password.label(class="form-control-label mb-1") }}
						{% if form.confirm_password.errors %}
							{{ form.confirm_password(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.confirm_password(class="form-control form-control-lg p-1", type="password") }}
						{% endif %}
					</div>
					<div class="col-xl-4"></div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4">
						{{ form.subj.label(class="form-control-label mb-1") }}
						{% if form.subj.errors %}
							{{ form.subj(class="form-control form-control-lg is-invalid p-1") }}
							<div class="invalid-feedback">
								{% for error in form.subj.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.subj(class="form-control form-control-lg p-1") }}
						{% endif %}
					</div>
					<div class="form-group col-sm-6 col-lg-5 col-xl-4 d-flex flex-row">
						<div class="w-100">
							{{ form.year.label(class="form-control-label mb-1") }}
							{% if form.year.errors %}
								{{ form.year(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.year.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.year(class="form-control form-control-lg p-1") }}
							{% endif %}
						</div>
						<div>
							{{ form.op.label(class="form-control-label mb-1 d-flex justify-content-center") }}
							{% if form.op.errors %}
								{{ form.op(class="form-control form-control-lg is-invalid p-1") }}
								<div class="invalid-feedback">
									{% for error in form.op.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								<div class="d-flex justify-content-center" style="padding-top: 1px;">
									{{ form.op(class="form-control form-control-lg", style="height:41px; width:41px; min-width:41px") }}
								</div>
							{% endif %}
						</div>
					</div>
				</div>

			</fieldset>
			<div class="form-group row">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
  {% for user in AllUsers.items %}
		<article class="media content-section">
				<div class="media">
					<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
					<div>
						<div class="col-auto row">
							<a class="mr-2" href="{{ url_for('users.account', user_id=user.id) }}">{{ user.username }}</a>
							{% if user.op %}
								<small class="text-dark" style="padding-top: 3px;">Joined on: {{ user.year }}</small>
							{% else %}
								<small class="text-dark" style="padding-top: 3px;">{{ user.year }}. year of "{{ user.subj }}"</small>
							{% endif %}
						</div>
						{% if current_user.op %}
							<div class="mb-1">
								<a class="btn btn-primary btn-sm m-0" href="{{ url_for('users.account', user_id=user.id) }}">Update</a>
								<button type="button" class="btn btn-danger btn-sm m-0"{% if current_user.id == user.id %} disabled{% endif %} data-toggle="modal" data-target="#deleteModal{{ user.id }}">Delete</button>
							</div>
						{% endif %}
					</div>
				</div>
		</article>
		<!-- Modal -->
		<div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete user "{{ user.username }}"?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<form action="{{ url_for('users.delete_user', user_id=user.id) }}" method="POST">
							<input class="btn btn-danger" type="submit" value="Delete">
						</form>
					</div>
				</div>
			</div>
		</div>
  {% endfor %}
  {% for page_num in AllUsers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
	{% if page_num %}
	  {% if AllUsers.page == page_num %}
		<a class="btn btn-info mb-4" href="{{ url_for('users.users', page=page_num) }}">{{ page_num }}</a>
	  {% else %}
		<a class="btn btn-outline-info mb-4" href="{{ url_for('users.users', page=page_num) }}">{{ page_num }}</a>
	  {% endif %}
	{% else %}
	  ...
	{% endif %}
  {% endfor %}
{% endblock content %}
